<div class="card-container">
    <button class="card card-medium">
        <span>CE</span>
    </button>
    <button class="card card-small">
        <span>C</span>
    </button>
    <button class="card card-small">
        <span class="operator">÷</span>
    </button>
</div>
<div class="card-container">
    <button class="card card-small">
        <span>7</span>
    </button>
    <button class="card card-small">
        <span>8</span>
    </button>
    <button class="card card-small">
        <span>9</span>
    </button>
    <button class="card card-small">
        <span class="operator">×</span>
    </button>
</div>
<div class="card-container">
    <button class="card card-small">
        <span>4</span>
    </button>
    <button class="card card-small">
        <span>5</span>
    </button>
    <button class="card card-small">
        <span>6</span>
    </button>
    <button class="card card-small">
        <span class="operator">-</span>
    </button>
</div>
<div class="card-container">
    <button class="card card-small">
        <span>1</span>
    </button>
    <button class="card card-small">
        <span>2</span>
    </button>
    <button class="card card-small">
        <span>3</span>
    </button>
    <button class="card card-small">
        <span class="operator">×</span>
    </button>
</div>
<div class="card-container">
    <button class="card card-medium">
        <span>0</span>
    </button>
    <button class="card card-small">
        <span>.</span>
    </button>
    <button class="card card-small equal">
        <span class="operator">=</span>
    </button>
</div>